.prod_header{
    display: flex;
    justify-content: space-between;
}

.prod_header_room{
    width: 35%;
}

.prod_newBtn{
    width: 100%;
    height: 2.5rem;
    color: black;
}

.prod_modal{
    width: 80%;
}

.prod_modal_content > *, .prod_modal_content_form > *{
    margin-bottom: var(--Rows_Margin);
}

.prod_modal_content_header{
    text-align: center;
}

.prod_actions{
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
}

.prod_actions_newBtn{
    width: 70%;
    color: var(--BlueSky_Color);
    font-weight: bold;
    border: 1px solid var(--BlueSky_Color);
}

.prod_actions_saveBtn{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--BlueSky_Color);
    color: white;
}

.prod_actions_saveBtn, .prod_actions_newBtn{
    border-radius: 10px;
}

.prod_modal_buttons{
    display: flex;
    justify-content: space-between;
}

.prod_modal_buttons_btn{
    height: 2rem;
    width: 45%;
    border-radius: 5px;
    color: transparent;
}

.cancel_btn{
    border: 1px solid red;
    color: red
}

.confirm_btn{
    border: 1px solid green;
    color: green
}

.prod_submit{
    position: fixed;
    bottom: calc(var(--Footer_Height) + 1rem);
    width: 100%;
    display: flex;
    justify-content: center;
}

.prod_submit_btn{
    width: 70%;
    height: 2.5rem;
    border-radius: 10px;
    background-color: var(--Primary_Color);
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 3px 1px #000000; 
    box-shadow: 0px 0px 3px 1px #000000;
}

.prod_edit_field{
    margin-top: var(--Rows_Margin);
    height: 2rem;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

.prod_edit_field_input{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 0 .3rem;

}

@media screen and (min-width: 768px){
    .prod_modal{
        width: 30%;
    }
}

@media screen and (min-width: 1199px){
    .prod_actions{
        height: 2.5rem;
    }   

    .prod_actions_saveBtn{
        height: 2.5rem;
        width: 2.5rem;
    }
}