:root{
    --Primary_Color: #F0B67F;
    --Primary_Color_Gray: #D5BAA1;
    --BlueSky_Color: #0496FF;
    --Mobile-Page-Padding: .5rem;
    --Tablet-Page-Padding: 3rem;
    --Desktop-Page-Padding: 10rem;
    --Desktop_Min_Width: 992px;
    --Tablet_Min_Width: 768px;
  
    --Button_Border_Radius: 5px;
    --Navbar_Height: 3rem;
    --Footer_Height: 4rem;
    --List_Content_Row_Height: 3rem;
  
    --Rows_Margin: .5rem ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

main{
    padding: var(--Mobile-Page-Padding);
    min-height: calc(100vh - var(--Navbar_Height) - var(--Footer_Height));
}

input, textarea{
    border: none;
}

input[type=number] {
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

nav{
    padding: 0 var(--Mobile-Page-Padding);
}

a {
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
}

.warning{
    background-color: #F3AF49 !important;
}

.good{
    background-color: #A6D49F !important;
}

.select_shop_dropdown{
    width: 30vw;
    height: 2rem;
}

.modal_open{
    overflow-y: hidden;
}

@media screen and (min-width: 767px){
    main{
        padding: var(--Mobile-Page-Padding) var(--Tablet-Page-Padding)
    }

    nav{
        padding: 0 var(--Tablet-Page-Padding);
    }
}

@media screen and (min-width: 992px){
    main{
        padding: var(--Mobile-Page-Padding) var(--Desktop-Page-Padding)
    }

    nav{
        padding: 0 var(--Desktop-Page-Padding);
    }
}