.nav{
    --Navbar_Link_Height: 2rem;
    position: sticky;
    height: var(--Navbar_Height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Primary_Color);
    top: 0;
    z-index: 100;
}

.nav_link{
    font-size: 1.3rem;
    font-weight: bold;
}

.nav_menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: calc(var(--Navbar_Height) - .5rem);
    height: calc(var(--Navbar_Height) - .5rem);
    border-radius: 5px;
    border: 1px solid white;
    background-color: var(--Primary_Color);
    cursor: pointer;
}

.nav_menu_bar{
    height: .3rem;
    width: 80%;
    background-color: black;
    border-radius: 5px;
}

.nav_menu_links{
    position: absolute;
    right: calc(0px - var(--Mobile-Page-Padding));
    top: calc(var(--Navbar_Height) - (var(--Mobile-Page-Padding) / 1.8));
    width: 100vw;
    background-color: lightgray;
    transform-origin: top;
    overflow: hidden;
    transition: height .3s;
}

.nav_menu_links_row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--Navbar_Link_Height);
}
