.prod_list_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-radius: 5px;
    padding: .3rem;
    margin-bottom: var(--Rows_Margin);
    background-color: var(--Primary_Color);
}

.prod_list_item_content{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    width: 80%;
}

.prod_list_item_actions_btn{
    height: calc(4rem * .8);
    width: calc(4rem * .8);
    border-radius: 50%;
    border: 2px solid darkgray;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}