.stock_top{
    display: flex;
    justify-content: space-between;
    margin: var(--Rows_Margin) 0;
}

.stock_top_updateBtn{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    transition: background-color .4s linear;
}

.stock_actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--Rows_Margin);
}

.stock_actions_newBtn{
    background-color: var(--BlueSky_Color);
    padding: .3rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.stock_actions_filter{
    width: 40vw;
}

.stock_modal{
    width: 70%;
}

@media screen and (min-width: 768px){
    .stock_actions_filter{
        width: 20vw;
    }
}

@media screen and (min-width: 992px){
    .stock_actions_filter{
        width: 15vw;
    }
}