.stock_top{
    display: flex;
    justify-content: space-between;
    margin: var(--Rows_Margin) 0;
}

.stock_top_updateBtn{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    /* transition: background-color .4s linear; */
}